TOMTOM_API_KEY=coloca_tu_key_tomtom
OPENWEATHER_API_KEY=coloca_tu_key_openweather
MODEL_PATH=/app/artifacts/modelo_riesgo_vial_pipeline
SCHEMA_PATH=/app/artifacts/schema_inferencia.json
HISTORICO_FEATURES_PATH=/app/artifacts/historico_features_para_backend.json
ZONAS_TIEMPO_REAL_PATH=/app/artifacts/zonas_tiempo_real.json
TIEMPO_REAL_CACHE_TTL=300
