TOMTOM_API_KEY=coloca_tu_key_tomtom
OPENWEATHER_API_KEY=coloca_tu_key_openweather
MODEL_PATH=./modelo_riesgo_vial_pipeline
SCHEMA_PATH=./schema_inferencia.json
HISTORICO_FEATURES_PATH=./historico_features_para_backend.json
